openapi: 3.0.0
info:
  contact:
    x-twitter: Flickr
  description: A subset of Flickr's API defined in Swagger format.
  termsOfService: https://www.flickr.com/services/api/tos/
  title: Flickr API Schema
  version: 1.0.0
  x-apisguru-categories:
  - media
  x-logo:
    url: https://twitter.com/Flickr/profile_image?size=original
  x-origin:
  - version: "3.0"
    format: openapi
    url: https://raw.githubusercontent.com/flickr/flickr-api-swagger/master/dist/schema.json
  x-providerName: flickr.com
  x-konfig-ignore:
    object-with-no-properties: true
  x-konfig-uses-multipart-form-data: true
servers:
- url: https://api.flickr.com/services
tags:
- name: Public
paths:
  /oauth/access_token:
    get:
      description: Returns an access token
      operationId: Public_getAccessToken
      parameters:
      - explode: true
        in: query
        name: oauth_consumer_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_nonce
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_timestamp
        required: true
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature_method
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_version
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_verifier
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetAccessTokenResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--oauth-access_token
      x-accepts: application/json
  /oauth/request_token:
    get:
      description: Returns an oauth token and oauth token secret
      operationId: Public_getOAuthToken
      parameters:
      - explode: true
        in: query
        name: oauth_consumer_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_nonce
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_timestamp
        required: true
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature_method
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_version
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_signature
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: oauth_callback
        required: true
        schema:
          pattern: ^http.*$
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetOAuthTokenResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--oauth-request_token
      x-accepts: application/json
  /rest?method=flickr.favorites.getContext:
    get:
      description: Returns next and previous favorites for a photo in a user's favorites
      operationId: Public_getFavoritesContext
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: photo_id
        required: true
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      - explode: true
        in: query
        name: user_id
        required: false
        schema:
          pattern: "^([0-9]+@N[0-9]+)|([0-9a-zA-Z-_]+)$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetFavoritesContextResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.favorites.getContext
      x-accepts: application/json
  /rest?method=flickr.favorites.getList:
    get:
      description: Returns a list of the user's favorite photos. Only photos which
        the calling user has permission to see are returned.
      operationId: Public_getFavoritePhotos
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: user_id
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: min_fave_date
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: max_fave_date
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetFavoritePhotosResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.favorites.getList
      x-accepts: application/json
  /rest?method=flickr.galleries.getPhotos:
    get:
      description: Returns a list of photos in a gallery.
      operationId: Public_getGalleryPhotos
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: gallery_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetGalleryPhotosResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.galleries.getPhotos
      x-accepts: application/json
  /rest?method=flickr.groups.discuss.replies.getInfo:
    get:
      description: Get information on a group topic reply
      operationId: Public_getGroupTopicRepliesInfo
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: group_id
        required: false
        schema:
          pattern: "^([0-9]+@N[0-9]+)|([0-9a-zA-Z-_]+)$"
          type: string
        style: form
      - explode: true
        in: query
        name: topic_id
        required: true
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      - explode: true
        in: query
        name: reply_id
        required: true
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetGroupTopicRepliesInfoResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.groups.discuss.replies.getInfo
      x-accepts: application/json
  /rest?method=flickr.groups.discuss.topics.getInfo:
    get:
      description: Get information about a group discussion topic
      operationId: Public_getGroupTopicInfo
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: group_id
        required: false
        schema:
          pattern: "^([0-9]+@N[0-9]+)|([0-9a-zA-Z-_]+)$"
          type: string
        style: form
      - explode: true
        in: query
        name: topic_id
        required: true
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetGroupTopicInfoResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.groups.discuss.topics.getInfo
      x-accepts: application/json
  /rest?method=flickr.groups.discuss.topics.getList:
    get:
      description: Get a list of discussion topics in a group.
      operationId: Public_getGroupDiscussionTopics
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: group_id
        required: false
        schema:
          pattern: "^([0-9]+@N[0-9]+)|([0-9a-zA-Z-_]+)$"
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetGroupDiscussionTopicsResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.groups.discuss.topics.getList
      x-accepts: application/json
  /rest?method=flickr.groups.getInfo:
    get:
      description: Get information about a group
      operationId: Public_getGroupInfo
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: group_id
        required: false
        schema:
          pattern: "^([0-9]+@N[0-9]+)|([0-9a-zA-Z-_]+)$"
          type: string
        style: form
      - explode: true
        in: query
        name: group_path_alias
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: lang
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetGroupInfoResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.groups.getInfo
      x-accepts: application/json
  /rest?method=flickr.groups.pools.getContext:
    get:
      description: Returns next and previous photos for a photo in a group pool
      operationId: Public_flickrGroupsPoolsGetContext
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: photo_id
        required: true
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      - explode: true
        in: query
        name: group_id
        required: false
        schema:
          pattern: "^([0-9]+@N[0-9]+)|([0-9a-zA-Z-_]+)$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicFlickrGroupsPoolsGetContextResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.groups.pools.getContext
      x-accepts: application/json
  /rest?method=flickr.groups.pools.getPhotos:
    get:
      description: Returns a list of pool photos for a given group
      operationId: Public_getGroupPoolPhotos
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: group_id
        required: false
        schema:
          pattern: "^([0-9]+@N[0-9]+)|([0-9a-zA-Z-_]+)$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetGroupPoolPhotosResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.groups.pools.getPhotos
      x-accepts: application/json
  /rest?method=flickr.people.getInfo:
    get:
      description: Returns a person
      operationId: Public_getPersonInformation
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: user_id
        required: false
        schema:
          pattern: "^([0-9]+@N[0-9]+)|([0-9a-zA-Z-_]+)$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetPersonInformationResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.people.getInfo
      x-accepts: application/json
  /rest?method=flickr.people.getPhotos:
    get:
      description: Return photos from the given user's photostream
      operationId: Public_getUserPhotos
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: user_id
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: safe_search
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: min_upload_date
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: max_upload_date
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: min_taken_date
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: max_taken_date
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: content_type
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: privacy_filter
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetUserPhotosResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.people.getPhotos
      x-accepts: application/json
  /rest?method=flickr.photolist.getContext:
    get:
      description: Returns next and previous photos in a photo list
      operationId: Public_getPhotoListContext
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: photo_id
        required: true
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      - explode: true
        in: query
        name: photolist_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetPhotoListContextResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.photolist.getContext
      x-accepts: application/json
  /rest?method=flickr.photos.getContext:
    get:
      description: Returns next and previous photos for a photo in a photostream
      operationId: Public_getPhotostreamContext
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: photo_id
        required: true
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetPhotostreamContextResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.photos.getContext
      x-accepts: application/json
  /rest?method=flickr.photos.getExif:
    get:
      description: Retrieves a list of EXIF/TIFF/GPS tags for a given photo. The calling
        user must have permission to view the photo.
      operationId: Public_getPhotoExif
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: photo_id
        required: true
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      - explode: true
        in: query
        name: secret
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetPhotoExifResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.photos.getExif
      x-accepts: application/json
  /rest?method=flickr.photos.getInfo:
    get:
      description: Returns a photo
      operationId: Public_getPhotoInfo
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: photo_id
        required: true
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetPhotoInfoResponse'
          description: a photo
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.photos.getInfo
      x-accepts: application/json
  /rest?method=flickr.photos.getSizes:
    get:
      description: Returns photo sizes
      operationId: Public_getPhotoSizes
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: photo_id
        required: true
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetPhotoSizesResponse'
          description: Photo sizes
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.photos.getSizes
      x-accepts: application/json
  /rest?method=flickr.photos.licenses.getInfo:
    get:
      description: Fetches a list of available photo licenses for Flickr
      operationId: Public_getPhotoLicenses
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetPhotoLicensesResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.photos.licenses.getInfo
      x-accepts: application/json
  /rest?method=flickr.photos.search:
    get:
      description: Return a list of photos matching some criteria.
      operationId: Public_searchPhotos
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - description: "A free text search. Photos who's title, description or tags\
          \ contain the text will be returned. You can exclude results that match\
          \ a term by prepending it with a - character."
        explode: true
        in: query
        name: text
        required: false
        schema:
          type: string
        style: form
      - description: A comma-delimited list of tags. Photos with one or more of the
          tags listed will be returned. You can exclude results that match a term
          by prepending it with a - character.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - description: The NSID of the user who's photo to search. If this parameter
          isn't passed then everybody's public photos will be searched. A value of
          "me" will search against the calling user's photos for authenticated calls.
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          type: string
        style: form
      - description: Minimum upload date. Photos with an upload date greater than
          or equal to this value will be returned. The date can be in the form of
          a unix timestamp or mysql datetime.
        explode: true
        in: query
        name: min_upload_date
        required: false
        schema:
          type: string
        style: form
      - description: Maximum upload date. Photos with an upload date less than or
          equal to this value will be returned. The date can be in the form of a unix
          timestamp or mysql datetime.
        explode: true
        in: query
        name: max_upload_date
        required: false
        schema:
          type: string
        style: form
      - description: Minimum taken date. Photos with an taken date greater than or
          equal to this value will be returned. The date can be in the form of a mysql
          datetime or unix timestamp.
        explode: true
        in: query
        name: min_taken_date
        required: false
        schema:
          type: string
        style: form
      - description: Maximum taken date. Photos with an taken date less than or equal
          to this value will be returned. The date can be in the form of a mysql datetime
          or unix timestamp.
        explode: true
        in: query
        name: max_taken_date
        required: false
        schema:
          type: string
        style: form
      - description: The license id for photos (for possible values see the flickr.photos.licenses.getInfo
          method). Multiple licenses may be comma-separated.
        explode: true
        in: query
        name: license
        required: false
        schema:
          type: string
        style: form
      - description: |
          The order in which to sort returned photos. Deafults to date-posted-desc (unless you are doing a radial geo query, in which case the default sorting is by ascending distance from the point specified). The possible values are:
            date-posted-asc,
            date-posted-desc,
            date-taken-asc,
            date-taken-desc,
            interestingness-desc,
            interestingness-asc, and
            relevance.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: |
          Return photos only matching a certain privacy level. This only applies when making an authenticated call to view photos you own. Valid values are:,
            1: public photos,
            2: private photos visible to friends,
            3: private photos visible to family,
            4: private photos visible to friends & family,
            5: completely private photos
        explode: true
        in: query
        name: privacy_filter
        required: false
        schema:
          type: number
        style: form
      - description: A comma-delimited list of 4 values defining the Bounding Box
          of the area that will be searched.
        explode: true
        in: query
        name: bbox
        required: false
        schema:
          type: string
        style: form
      - description: |
          Recorded accuracy level of the location information. Current range is 1-16:
            World level is 1
            Country is ~3
            Region is ~6
            City is ~11
            Street is ~16
        explode: true
        in: query
        name: accuracy
        required: false
        schema:
          type: string
        style: form
      - description: |
          Safe search setting:
            1: for safe,
            2: for moderate,
            3: for restricted
        explode: true
        in: query
        name: safe_search
        required: false
        schema:
          type: number
        style: form
      - description: |
          Content Type setting:
            1: photos only.
            2: screenshots only.
            3: 'other' only.
            4: photos and screenshots.
            5: screenshots and 'other'.
            6: photos and 'other'.
            7: photos, screenshots, and 'other' (all).
        explode: true
        in: query
        name: content_type
        required: false
        schema:
          type: number
        style: form
      - description: |
          Aside from passing in a fully formed machine tag, there is a special syntax for searching on specific properties : Find photos using the 'dc' namespace : "machine_tags" => "dc:" Find photos with a title in the 'dc' namespace : "machine_tags" => "dc:title=" Find photos titled "mr. camera" in the 'dc' namespace : "machine_tags" => "dc:title=\"mr. camera\" Find photos whose value is "mr. camera" : "machine_tags" => "*:*=\"mr. camera\"" Find photos that have a title, in any namespace : "machine_tags" => "*:title=" Find photos that have a title, in any namespace, whose value is "mr. camera" : "machine_tags" => "*:title=\"mr. camera\"" Find photos, in the 'dc' namespace whose value is "mr. camera" : "machine_tags" => "dc:*=\"mr. camera\"" Multiple machine tags may be queried by passing a comma-separated list. The number of machine tags you can pass in a single query depends on the tag mode (AND or OR) that you are querying with. "AND" queries are limited to (16) machine tags. "OR" queries are limited to (8).
        explode: true
        in: query
        name: machine_tags
        required: false
        schema:
          type: string
        style: form
      - description: "Either 'any' for an OR combination of tags, or 'all' for an\
          \ AND combination. Defaults to 'any' if not specified."
        explode: true
        in: query
        name: machine_tag_mode
        required: false
        schema:
          type: string
        style: form
      - description: "The id of a group who's pool to search. If specified, only matching\
          \ photos posted to the group's pool will be returned."
        explode: true
        in: query
        name: group_id
        required: false
        schema:
          type: string
        style: form
      - description: Search your contacts. Either 'all' or 'ff' for just friends and
          family. (Experimental)
        explode: true
        in: query
        name: contacts
        required: false
        schema:
          type: string
        style: form
      - description: A 32-bit identifier that uniquely represents spatial entities.
          (not used if bbox argument is present).
        explode: true
        in: query
        name: woe_id
        required: false
        schema:
          type: string
        style: form
      - description: |
          A Flickr place id. (not used if bbox argument is present). Geo queries require some sort of limiting agent in order to prevent the database from crying. This is basically like the check against "parameterless searches" for queries without a geo component. A tag, for instance, is considered a limiting agent as are user defined min_date_taken and min_date_upload parameters — If no limiting factor is passed we return only photos added in the last 12 hours (though we may extend the limit in the future).
        explode: true
        in: query
        name: place_id
        required: false
        schema:
          type: string
        style: form
      - description: "Filter results by media type. Possible values are all (default),\
          \ photos or videos"
        explode: true
        in: query
        name: media
        required: false
        schema:
          type: string
        style: form
      - description: |
          Any photo that has been geotagged, or if the value is "0" any photo that has not been geotagged. Geo queries require some sort of limiting agent in order to prevent the database from crying. This is basically like the check against "parameterless searches" for queries without a geo component. A tag, for instance, is considered a limiting agent as are user defined min_date_taken and min_date_upload parameters — If no limiting factor is passed we return only photos added in the last 12 hours (though we may extend the limit in the future).
        explode: true
        in: query
        name: has_geo
        required: false
        schema:
          type: string
        style: form
      - description: |
          Geo context is a numeric value representing the photo's geotagginess beyond latitude and longitude. For example, you may wish to search for photos that were taken "indoors" or "outdoors". The current list of context IDs is: 0, not defined. 1, indoors. 2, outdoors. Geo queries require some sort of limiting agent in order to prevent the database from crying. This is basically like the check against "parameterless searches" for queries without a geo component. A tag, for instance, is considered a limiting agent as are user defined min_date_taken and min_date_upload parameters — If no limiting factor is passed we return only photos added in the last 12 hours (though we may extend the limit in the future).
        explode: true
        in: query
        name: geo_context
        required: false
        schema:
          type: string
        style: form
      - description: |
          A valid latitude, in decimal format, for doing radial geo queries. Geo queries require some sort of limiting agent in order to prevent the database from crying. This is basically like the check against "parameterless searches" for queries without a geo component. A tag, for instance, is considered a limiting agent as are user defined min_date_taken and min_date_upload parameters — If no limiting factor is passed we return only photos added in the last 12 hours (though we may extend the limit in the future).
        explode: true
        in: query
        name: lat
        required: false
        schema:
          type: string
        style: form
      - description: |
          A valid longitude, in decimal format, for doing radial geo queries. Geo queries require some sort of limiting agent in order to prevent the database from crying. This is basically like the check against "parameterless searches" for queries without a geo component. A tag, for instance, is considered a limiting agent as are user defined min_date_taken and min_date_upload parameters — If no limiting factor is passed we return only photos added in the last 12 hours (though we may extend the limit in the future).
        explode: true
        in: query
        name: lon
        required: false
        schema:
          type: string
        style: form
      - description: "A valid radius used for geo queries, greater than zero and less\
          \ than 20 miles (or 32 kilometers), for use with point-based geo queries.\
          \ The default value is 5 (km)."
        explode: true
        in: query
        name: radius
        required: false
        schema:
          type: number
        style: form
      - description: The unit of measure when doing radial geo queries. Valid options
          are "mi" (miles) and "km" (kilometers). The default is "km".
        explode: true
        in: query
        name: radius_units
        required: false
        schema:
          type: string
        style: form
      - description: Limit the scope of the search to only photos that are part of
          the Flickr Commons project. Default is false.
        explode: true
        in: query
        name: is_commons
        required: false
        schema:
          type: boolean
        style: form
      - description: "Limit the scope of the search to only photos that are in a gallery?\
          \ Default is false, search all photos."
        explode: true
        in: query
        name: in_gallery
        required: false
        schema:
          type: boolean
        style: form
      - description: Limit the scope of the search to only photos that are for sale
          on Getty. Default is false.
        explode: true
        in: query
        name: is_getty
        required: false
        schema:
          type: boolean
        style: form
      - description: "Number of photos to return per page. If this argument is omitted,\
          \ it defaults to 100. The maximum allowed value is 500."
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: number
        style: form
      - description: "The page of results to return. If this argument is omitted,\
          \ it defaults to 1."
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSearchPhotosResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.photos.search
      x-accepts: application/json
  /rest?method=flickr.photosets.getContext:
    get:
      description: Returns next and previous photos for a photo in a set
      operationId: Public_getPhotoSetContext
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: photo_id
        required: true
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      - explode: true
        in: query
        name: photoset_id
        required: false
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetPhotoSetContextResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.photosets.getContext
      x-accepts: application/json
  /rest?method=flickr.photosets.getList:
    get:
      description: Returns the albums belonging to the specified user
      operationId: Public_getUserAlbums
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: user_id
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetUserAlbumsResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.photosets.getList
      x-accepts: application/json
  /rest?method=flickr.photosets.getPhotos:
    get:
      description: Returns a list of photos in an album.
      operationId: Public_getAlbumPhotos
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: photoset_id
        required: true
        schema:
          pattern: "^[0-9]+$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetAlbumPhotosResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.photosets.getPhotos
      x-accepts: application/json
  /rest?method=flickr.test.echo:
    get:
      description: Echos the input parameters back in the response
      operationId: Public_getFlickrTestEcho
      parameters:
      - explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: echo
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGetFlickrTestEchoResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rest?method=flickr.test.echo
      x-accepts: application/json
  /upload:
    post:
      description: Uploads a new photo to Flickr
      operationId: Public_uploadPhoto
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PublicUploadPhotoRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicUploadPhotoResponse'
          description: OK
      tags:
      - Public
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--upload
      x-content-type: multipart/form-data
      x-accepts: application/json
components:
  schemas:
    Album:
      example:
        server: server
        date_update: 7.061401241503109
        description: description
        count_comments: 5.962133916683182
        videos: 3.616076749251911
        secret: secret
        title: title
        photos: 9.301444243932576
        count_views: 5.637376656633329
        can_comment: true
        date_create: 2.3021358869347655
        farm: farm
        id: id
        primary: primary
      properties:
        title:
          type: string
        description:
          type: string
        can_comment:
          type: boolean
        count_comments:
          type: number
        count_views:
          type: number
        date_create:
          type: number
        date_update:
          type: number
        farm:
          type: string
        id:
          type: string
        photos:
          type: number
        primary:
          type: string
        secret:
          type: string
        server:
          type: string
        videos:
          type: number
      type: object
    ContextPhoto:
      example:
        owner: owner
        license: 0
        server: server
        thumb: thumb
        safe: true
        farm: farm
        is_faved: true
        id: id
        media: media
        secret: secret
        title: title
        url: url
      properties:
        title:
          type: string
        farm:
          type: string
        id:
          type: string
        is_faved:
          type: boolean
        license:
          type: integer
        media:
          type: string
        owner:
          type: string
        safe:
          type: boolean
        secret:
          type: string
        server:
          type: string
        thumb:
          type: string
        url:
          type: string
      type: object
    ContextPhotos:
      properties:
        photos:
          items:
            $ref: '#/components/schemas/ContextPhoto'
          type: array
      type: object
    Cover:
      example:
        owner: owner
        server: server
        isfriend: true
        ispublic: true
        farm: farm
        "y": "y"
        id: id
        secret: secret
        title: title
        isfamily: true
      properties:
        title:
          type: string
        farm:
          type: string
        id:
          type: string
        isfamily:
          type: boolean
        isfriend:
          type: boolean
        ispublic:
          type: boolean
        owner:
          type: string
        secret:
          type: string
        server:
          type: string
        "y":
          type: string
      type: object
    Group:
      example:
        throttle:
          mode: mode
          count: 6
          remaining: remaining
        roles:
          moderator: moderator
          member: member
          admin: admin
        description:
          _content: _content
        privacy:
          _content: _content
        rules:
          _content: _content
        cover:
          owner: owner
          server: server
          isfriend: true
          ispublic: true
          farm: farm
          "y": "y"
          id: id
          secret: secret
          title: title
          isfamily: true
        is_admin: true
        coverphoto_url:
          s: s
          t: t
          h: h
          l: l
        iconserver: iconserver
        coverphoto_farm: coverphoto_farm
        members:
          _content: _content
        ispoolmoderated: true
        coverphoto_server: coverphoto_server
        id: id
        lang: lang
        iconfarm: iconfarm
        is_member: true
        restrictions:
          moderate_ok: true
          restricted_ok: true
          safe_ok: true
          videos_ok: true
          has_geo: true
          images_ok: true
          photos_ok: true
          screens_ok: true
          art_ok: true
        is_moderator: true
        topic_count:
          _content: _content
        blast:
          date_blast_added: date_blast_added
          user_id: user_id
          _content: _content
        path_alias: path_alias
        name:
          _content: _content
        pool_count:
          _content: _content
        pool_rows: 0
      properties:
        description:
          $ref: '#/components/schemas/Group_description'
        blast:
          $ref: '#/components/schemas/Group_blast'
        cover:
          $ref: '#/components/schemas/Cover'
        coverphoto_farm:
          type: string
        coverphoto_server:
          type: string
        coverphoto_url:
          $ref: '#/components/schemas/PhotoURLs'
        iconfarm:
          type: string
        iconserver:
          type: string
        id:
          type: string
        is_admin:
          type: boolean
        is_member:
          type: boolean
        is_moderator:
          type: boolean
        ispoolmoderated:
          type: boolean
        lang:
          type: string
        members:
          $ref: '#/components/schemas/Group_description'
        name:
          $ref: '#/components/schemas/Group_description'
        path_alias:
          type: string
        pool_count:
          $ref: '#/components/schemas/Group_description'
        pool_rows:
          type: integer
        privacy:
          $ref: '#/components/schemas/Group_description'
        restrictions:
          $ref: '#/components/schemas/Group_restrictions'
        roles:
          $ref: '#/components/schemas/Group_roles'
        rules:
          $ref: '#/components/schemas/Group_description'
        throttle:
          $ref: '#/components/schemas/Group_throttle'
        topic_count:
          $ref: '#/components/schemas/Group_description'
      type: object
    Note:
      example:
        description: description
      properties:
        description:
          type: string
      type: object
    Owner:
      example:
        iconfarm: iconfarm
        nsid: nsid
        path_alias: path_alias
        iconserver: iconserver
        noindexfollow: true
        location: location
        is_ad_free: true
        ispro: true
        realname: realname
        username: username
      properties:
        iconfarm:
          type: string
        iconserver:
          type: string
        is_ad_free:
          type: boolean
        ispro:
          type: boolean
        location:
          type: string
        noindexfollow:
          type: boolean
        nsid:
          type: string
        path_alias:
          type: string
        realname:
          type: string
        username:
          type: string
      type: object
    Person:
      example:
        timezone:
          offset: offset
          timezone_id: timezone_id
          label: label
        has_stats: true
        description:
          _content: _content
        is_ad_free: true
        photosurl:
          _content: _content
        yintl: yintl
        coverphoto:
          s: s
          t: t
          h: h
          l: l
        photos:
          count:
            _content: _content
          firstdate:
            _content: _content
          firstdatetaken:
            _content: _content
          views:
            _content: _content
        cover:
          owner: owner
          server: server
          isfriend: true
          ispublic: true
          farm: farm
          "y": "y"
          id: id
          secret: secret
          title: title
          isfamily: true
        user_secret: user_secret
        nsid: nsid
        iconserver: iconserver
        coverphoto_farm: coverphoto_farm
        can_buy_pro: true
        disable_keyboard_shortcuts:
          _content: _content
        mbox_sha1sum:
          _content: _content
        coverphoto_server: coverphoto_server
        id: id
        profileurl:
          _content: _content
        iconfarm: iconfarm
        unread_messages:
          _content: _content
        realname:
          _content: _content
        path_alias: path_alias
        expire: true
        location:
          _content: _content
        mobileurl:
          _content: _content
        ispro: true
        username:
          _content: _content
      properties:
        description:
          $ref: '#/components/schemas/Group_description'
        can_buy_pro:
          type: boolean
        cover:
          $ref: '#/components/schemas/Cover'
        coverphoto:
          $ref: '#/components/schemas/PhotoURLs'
        coverphoto_farm:
          type: string
        coverphoto_server:
          type: string
        disable_keyboard_shortcuts:
          $ref: '#/components/schemas/Group_description'
        expire:
          type: boolean
        has_stats:
          type: boolean
        iconfarm:
          type: string
        iconserver:
          type: string
        id:
          type: string
        is_ad_free:
          type: boolean
        ispro:
          type: boolean
        location:
          $ref: '#/components/schemas/Group_description'
        mbox_sha1sum:
          $ref: '#/components/schemas/Group_description'
        mobileurl:
          $ref: '#/components/schemas/Group_description'
        nsid:
          type: string
        path_alias:
          type: string
        photos:
          $ref: '#/components/schemas/Person_photos'
        photosurl:
          $ref: '#/components/schemas/Group_description'
        profileurl:
          $ref: '#/components/schemas/Group_description'
        realname:
          $ref: '#/components/schemas/Group_description'
        timezone:
          $ref: '#/components/schemas/Person_timezone'
        unread_messages:
          $ref: '#/components/schemas/Group_description'
        user_secret:
          type: string
        username:
          $ref: '#/components/schemas/Group_description'
        yintl:
          type: string
      type: object
    Photo:
      example:
        server: server
        dateuploaded: dateuploaded
        notes:
          note:
          - description: description
          - description: description
        safety_level: safety_level
        usage:
          canshare: true
          canprint: true
          canblog: true
          candownload: true
        description:
          _content: _content
        media: media
        secret: secret
        title:
          _content: _content
        urls:
          url:
          - _content: _content
            type: type
          - _content: _content
            type: type
        editability:
          cancomment: true
          canaddmeta: true
        permissions:
          permaddmeta: permaddmeta
          permcomment: permcomment
        originalsecret: originalsecret
        farm: farm
        id: id
        views: views
        owner:
          iconfarm: iconfarm
          nsid: nsid
          path_alias: path_alias
          iconserver: iconserver
          noindexfollow: true
          location: location
          is_ad_free: true
          ispro: true
          realname: realname
          username: username
        comments:
          _content: _content
        visibility:
          isfriend: true
          ispublic: true
          isfamily: true
        publiceditability:
          cancomment: true
          canaddmeta: true
        rotation: rotation
        dates:
          taken: taken
          takengranularity: takengranularity
          lastupdate: lastupdate
          takenunknown: true
          posted: posted
        people:
          haspeople: true
        tags:
          tag:
          - author: author
            machine_tag: true
            authorname: authorname
            raw: raw
            id: id
            _content: _content
          - author: author
            machine_tag: true
            authorname: authorname
            raw: raw
            id: id
            _content: _content
        license: license
        safe: true
        isfavorite: true
      properties:
        tags:
          $ref: '#/components/schemas/Photo_tags'
        title:
          $ref: '#/components/schemas/Group_description'
        description:
          $ref: '#/components/schemas/Group_description'
        comments:
          $ref: '#/components/schemas/Group_description'
        dates:
          $ref: '#/components/schemas/Photo_dates'
        dateuploaded:
          type: string
        editability:
          $ref: '#/components/schemas/Photo_editability'
        farm:
          type: string
        id:
          type: string
        isfavorite:
          type: boolean
        license:
          type: string
        media:
          type: string
        notes:
          $ref: '#/components/schemas/Photo_notes'
        originalsecret:
          type: string
        owner:
          $ref: '#/components/schemas/Owner'
        people:
          $ref: '#/components/schemas/Photo_people'
        permissions:
          $ref: '#/components/schemas/Photo_permissions'
        publiceditability:
          $ref: '#/components/schemas/Photo_editability'
        rotation:
          type: string
        safe:
          type: boolean
        safety_level:
          type: string
        secret:
          type: string
        server:
          type: string
        urls:
          $ref: '#/components/schemas/Photo_urls'
        usage:
          $ref: '#/components/schemas/Photo_usage'
        views:
          type: string
        visibility:
          $ref: '#/components/schemas/Photo_visibility'
      type: object
    PhotoURLs:
      example:
        s: s
        t: t
        h: h
        l: l
      properties:
        h:
          type: string
        l:
          type: string
        s:
          type: string
        t:
          type: string
      type: object
    Size:
      example:
        width: 5.637376656633329
        label: label
        media: media
        source: source
        url: url
        height: 5.962133916683182
      properties:
        height:
          type: number
        label:
          type: string
        media:
          type: string
        source:
          type: string
        url:
          type: string
        width:
          type: number
      type: object
    Stat:
      type: string
    Tag:
      example:
        author: author
        machine_tag: true
        authorname: authorname
        raw: raw
        id: id
        _content: _content
      properties:
        _content:
          type: string
        author:
          type: string
        authorname:
          type: string
        id:
          type: string
        machine_tag:
          type: boolean
        raw:
          type: string
      type: object
    Topic:
      example:
        is_locked: true
        iconfarm: iconfarm
        role: role
        author: author
        subject: subject
        datelastpost: datelastpost
        is_sticky: true
        can_edit: true
        lastedit: lastedit
        datecreate: datecreate
        message:
          _content: _content
        count_replies: 0
        can_reply: true
        iconserver: iconserver
        author_is_deleted: true
        can_delete: true
        is_pro: true
        author_path_alias: author_path_alias
        last_reply: last_reply
        authorname: authorname
        id: id
      properties:
        author:
          type: string
        author_is_deleted:
          type: boolean
        author_path_alias:
          type: string
        authorname:
          type: string
        can_delete:
          type: boolean
        can_edit:
          type: boolean
        can_reply:
          type: boolean
        count_replies:
          type: integer
        datecreate:
          type: string
        datelastpost:
          type: string
        iconfarm:
          type: string
        iconserver:
          type: string
        id:
          type: string
        is_locked:
          type: boolean
        is_pro:
          type: boolean
        is_sticky:
          type: boolean
        last_reply:
          type: string
        lastedit:
          type: string
        message:
          $ref: '#/components/schemas/Group_description'
        role:
          type: string
        subject:
          type: string
      type: object
    TopicReply:
      example:
        iconfarm: iconfarm
        author: author
        can_edit: true
        lastedit: lastedit
        datecreate: datecreate
        message:
          _content: _content
        iconserver: iconserver
        author_is_deleted: true
        can_delete: true
        is_pro: true
        author_path_alias: author_path_alias
        authorname: authorname
        id: id
      properties:
        author:
          type: string
        author_is_deleted:
          type: boolean
        author_path_alias:
          type: string
        authorname:
          type: string
        can_delete:
          type: boolean
        can_edit:
          type: boolean
        datecreate:
          type: string
        iconfarm:
          type: string
        iconserver:
          type: string
        id:
          type: string
        is_pro:
          type: boolean
        lastedit:
          type: string
        message:
          $ref: '#/components/schemas/Group_description'
      type: object
    URL:
      example:
        _content: _content
        type: type
      properties:
        _content:
          type: string
        type:
          type: string
      type: object
    PublicUploadPhotoRequest:
      properties:
        tags:
          type: string
        title:
          type: string
        description:
          type: string
        api_key:
          type: string
        content_type:
          enum:
          - "1"
          - "2"
          - "3"
          type: string
        hidden:
          enum:
          - "1"
          - "2"
          type: string
        is_family:
          enum:
          - "0"
          - "1"
          type: string
        is_friend:
          enum:
          - "0"
          - "1"
          type: string
        is_public:
          enum:
          - "0"
          - "1"
          type: string
        photo:
          format: binary
          type: string
        safety_level:
          enum:
          - "1"
          - "2"
          - "3"
          type: string
      required:
      - api_key
      - photo
      type: object
    PublicGetAccessTokenResponse:
      type: string
      x-konfig-is-used-in-successful-response: true
    PublicGetOAuthTokenResponse:
      type: string
      x-konfig-is-used-in-successful-response: true
    PublicGetFavoritesContextResponse:
      example:
        stat: stat
        count:
          _content: _content
        nextphoto:
          owner: owner
          license: 0
          server: server
          thumb: thumb
          safe: true
          farm: farm
          is_faved: true
          id: id
          media: media
          secret: secret
          title: title
          url: url
        prevphoto:
          owner: owner
          license: 0
          server: server
          thumb: thumb
          safe: true
          farm: farm
          is_faved: true
          id: id
          media: media
          secret: secret
          title: title
          url: url
      properties:
        count:
          $ref: '#/components/schemas/Group_description'
        nextphoto:
          $ref: '#/components/schemas/ContextPhoto'
        prevphoto:
          $ref: '#/components/schemas/ContextPhoto'
        stat:
          type: string
      type: object
      x-konfig-is-used-in-successful-response: true
    PublicGetFavoritePhotosResponse:
      example:
        perpage: 1.4658129805029452
        total: 5.962133916683182
        pages: 6.027456183070403
        page: 0.8008281904610115
        photos:
        - server: server
          dateuploaded: dateuploaded
          notes:
            note:
            - description: description
            - description: description
          safety_level: safety_level
          usage:
            canshare: true
            canprint: true
            canblog: true
            candownload: true
          description:
            _content: _content
          media: media
          secret: secret
          title:
            _content: _content
          urls:
            url:
            - _content: _content
              type: type
            - _content: _content
              type: type
          editability:
            cancomment: true
            canaddmeta: true
          permissions:
            permaddmeta: permaddmeta
            permcomment: permcomment
          originalsecret: originalsecret
          farm: farm
          id: id
          views: views
          owner:
            iconfarm: iconfarm
            nsid: nsid
            path_alias: path_alias
            iconserver: iconserver
            noindexfollow: true
            location: location
            is_ad_free: true
            ispro: true
            realname: realname
            username: username
          comments:
            _content: _content
          visibility:
            isfriend: true
            ispublic: true
            isfamily: true
          publiceditability:
            cancomment: true
            canaddmeta: true
          rotation: rotation
          dates:
            taken: taken
            takengranularity: takengranularity
            lastupdate: lastupdate
            takenunknown: true
            posted: posted
          people:
            haspeople: true
          tags:
            tag:
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
          license: license
          safe: true
          isfavorite: true
        - server: server
          dateuploaded: dateuploaded
          notes:
            note:
            - description: description
            - description: description
          safety_level: safety_level
          usage:
            canshare: true
            canprint: true
            canblog: true
            candownload: true
          description:
            _content: _content
          media: media
          secret: secret
          title:
            _content: _content
          urls:
            url:
            - _content: _content
              type: type
            - _content: _content
              type: type
          editability:
            cancomment: true
            canaddmeta: true
          permissions:
            permaddmeta: permaddmeta
            permcomment: permcomment
          originalsecret: originalsecret
          farm: farm
          id: id
          views: views
          owner:
            iconfarm: iconfarm
            nsid: nsid
            path_alias: path_alias
            iconserver: iconserver
            noindexfollow: true
            location: location
            is_ad_free: true
            ispro: true
            realname: realname
            username: username
          comments:
            _content: _content
          visibility:
            isfriend: true
            ispublic: true
            isfamily: true
          publiceditability:
            cancomment: true
            canaddmeta: true
          rotation: rotation
          dates:
            taken: taken
            takengranularity: takengranularity
            lastupdate: lastupdate
            takenunknown: true
            posted: posted
          people:
            haspeople: true
          tags:
            tag:
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
          license: license
          safe: true
          isfavorite: true
      properties:
        page:
          type: number
        pages:
          type: number
        perpage:
          type: number
        photos:
          items:
            $ref: '#/components/schemas/Photo'
          type: array
        total:
          type: number
      type: object
      x-konfig-is-used-in-successful-response: true
    PublicGetGalleryPhotosResponse:
      example:
        photos:
        - server: server
          dateuploaded: dateuploaded
          notes:
            note:
            - description: description
            - description: description
          safety_level: safety_level
          usage:
            canshare: true
            canprint: true
            canblog: true
            candownload: true
          description:
            _content: _content
          media: media
          secret: secret
          title:
            _content: _content
          urls:
            url:
            - _content: _content
              type: type
            - _content: _content
              type: type
          editability:
            cancomment: true
            canaddmeta: true
          permissions:
            permaddmeta: permaddmeta
            permcomment: permcomment
          originalsecret: originalsecret
          farm: farm
          id: id
          views: views
          owner:
            iconfarm: iconfarm
            nsid: nsid
            path_alias: path_alias
            iconserver: iconserver
            noindexfollow: true
            location: location
            is_ad_free: true
            ispro: true
            realname: realname
            username: username
          comments:
            _content: _content
          visibility:
            isfriend: true
            ispublic: true
            isfamily: true
          publiceditability:
            cancomment: true
            canaddmeta: true
          rotation: rotation
          dates:
            taken: taken
            takengranularity: takengranularity
            lastupdate: lastupdate
            takenunknown: true
            posted: posted
          people:
            haspeople: true
          tags:
            tag:
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
          license: license
          safe: true
          isfavorite: true
        - server: server
          dateuploaded: dateuploaded
          notes:
            note:
            - description: description
            - description: description
          safety_level: safety_level
          usage:
            canshare: true
            canprint: true
            canblog: true
            candownload: true
          description:
            _content: _content
          media: media
          secret: secret
          title:
            _content: _content
          urls:
            url:
            - _content: _content
              type: type
            - _content: _content
              type: type
          editability:
            cancomment: true
            canaddmeta: true
          permissions:
            permaddmeta: permaddmeta
            permcomment: permcomment
          originalsecret: originalsecret
          farm: farm
          id: id
          views: views
          owner:
            iconfarm: iconfarm
            nsid: nsid
            path_alias: path_alias
            iconserver: iconserver
            noindexfollow: true
            location: location
            is_ad_free: true
            ispro: true
            realname: realname
            username: username
          comments:
            _content: _content
          visibility:
            isfriend: true
            ispublic: true
            isfamily: true
          publiceditability:
            cancomment: true
            canaddmeta: true
          rotation: rotation
          dates:
            taken: taken
            takengranularity: takengranularity
            lastupdate: lastupdate
            takenunknown: true
            posted: posted
          people:
            haspeople: true
          tags:
            tag:
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
          license: license
          safe: true
          isfavorite: true
      properties:
        photos:
          items:
            $ref: '#/components/schemas/Photo'
          type: array
      type: object
      x-konfig-is-used-in-successful-response: true
    PublicGetGroupTopicRepliesInfoResponse:
      example:
        stat: stat
        reply:
          iconfarm: iconfarm
          author: author
          can_edit: true
          lastedit: lastedit
          datecreate: datecreate
          message:
            _content: _content
          iconserver: iconserver
          author_is_deleted: true
          can_delete: true
          is_pro: true
          author_path_alias: author_path_alias
          authorname: authorname
          id: id
      properties:
        reply:
          $ref: '#/components/schemas/TopicReply'
        stat:
          type: string
      type: object
      x-konfig-is-used-in-successful-response: true
    PublicGetGroupTopicInfoResponse:
      example:
        stat: stat
        topic:
          is_locked: true
          iconfarm: iconfarm
          role: role
          author: author
          subject: subject
          datelastpost: datelastpost
          is_sticky: true
          can_edit: true
          lastedit: lastedit
          datecreate: datecreate
          message:
            _content: _content
          count_replies: 0
          can_reply: true
          iconserver: iconserver
          author_is_deleted: true
          can_delete: true
          is_pro: true
          author_path_alias: author_path_alias
          last_reply: last_reply
          authorname: authorname
          id: id
      properties:
        stat:
          type: string
        topic:
          $ref: '#/components/schemas/Topic'
      type: object
      x-konfig-is-used-in-successful-response: true
    PublicGetGroupDiscussionTopicsResponse:
      example:
        per_page: 2.3021358869347655
        total: 9.301444243932576
        iconfarm: 0.8008281904610115
        pages: 5.637376656633329
        iconserver: 6.027456183070403
        topics:
        - is_locked: true
          iconfarm: iconfarm
          role: role
          author: author
          subject: subject
          datelastpost: datelastpost
          is_sticky: true
          can_edit: true
          lastedit: lastedit
          datecreate: datecreate
          message:
            _content: _content
          count_replies: 0
          can_reply: true
          iconserver: iconserver
          author_is_deleted: true
          can_delete: true
          is_pro: true
          author_path_alias: author_path_alias
          last_reply: last_reply
          authorname: authorname
          id: id
        - is_locked: true
          iconfarm: iconfarm
          role: role
          author: author
          subject: subject
          datelastpost: datelastpost
          is_sticky: true
          can_edit: true
          lastedit: lastedit
          datecreate: datecreate
          message:
            _content: _content
          count_replies: 0
          can_reply: true
          iconserver: iconserver
          author_is_deleted: true
          can_delete: true
          is_pro: true
          author_path_alias: author_path_alias
          last_reply: last_reply
          authorname: authorname
          id: id
        members: 1.4658129805029452
        name: name
        privacy: 7.061401241503109
        ispoolmoderated: true
        page: 5.962133916683182
        lang: lang
      properties:
        iconfarm:
          type: number
        iconserver:
          type: number
        ispoolmoderated:
          type: boolean
        lang:
          type: string
        members:
          type: number
        name:
          type: string
        page:
          type: number
        pages:
          type: number
        per_page:
          type: number
        privacy:
          type: number
        topics:
          items:
            $ref: '#/components/schemas/Topic'
          type: array
        total:
          type: number
      type: object
      x-konfig-is-used-in-successful-response: true
    PublicGetGroupInfoResponse:
      example:
        stat: stat
        group:
          throttle:
            mode: mode
            count: 6
            remaining: remaining
          roles:
            moderator: moderator
            member: member
            admin: admin
          description:
            _content: _content
          privacy:
            _content: _content
          rules:
            _content: _content
          cover:
            owner: owner
            server: server
            isfriend: true
            ispublic: true
            farm: farm
            "y": "y"
            id: id
            secret: secret
            title: title
            isfamily: true
          is_admin: true
          coverphoto_url:
            s: s
            t: t
            h: h
            l: l
          iconserver: iconserver
          coverphoto_farm: coverphoto_farm
          members:
            _content: _content
          ispoolmoderated: true
          coverphoto_server: coverphoto_server
          id: id
          lang: lang
          iconfarm: iconfarm
          is_member: true
          restrictions:
            moderate_ok: true
            restricted_ok: true
            safe_ok: true
            videos_ok: true
            has_geo: true
            images_ok: true
            photos_ok: true
            screens_ok: true
            art_ok: true
          is_moderator: true
          topic_count:
            _content: _content
          blast:
            date_blast_added: date_blast_added
            user_id: user_id
            _content: _content
          path_alias: path_alias
          name:
            _content: _content
          pool_count:
            _content: _content
          pool_rows: 0
      properties:
        group:
          $ref: '#/components/schemas/Group'
        stat:
          type: string
      type: object
      x-konfig-is-used-in-successful-response: true
    PublicFlickrGroupsPoolsGetContextResponse:
      example:
        stat: stat
        count:
          _content: _content
        nextphoto:
          owner: owner
          license: 0
          server: server
          thumb: thumb
          safe: true
          farm: farm
          is_faved: true
          id: id
          media: media
          secret: secret
          title: title
          url: url
        prevphoto:
          owner: owner
          license: 0
          server: server
          thumb: thumb
          safe: true
          farm: farm
          is_faved: true
          id: id
          media: media
          secret: secret
          title: title
          url: url
      properties:
        count:
          $ref: '#/components/schemas/Group_description'
        nextphoto:
          $ref: '#/components/schemas/ContextPhoto'
        prevphoto:
          $ref: '#/components/schemas/ContextPhoto'
        stat:
          type: string
      type: object
      x-konfig-is-used-in-successful-response: true
    PublicGetGroupPoolPhotosResponse:
      example:
        photos:
        - server: server
          dateuploaded: dateuploaded
          notes:
            note:
            - description: description
            - description: description
          safety_level: safety_level
          usage:
            canshare: true
            canprint: true
            canblog: true
            candownload: true
          description:
            _content: _content
          media: media
          secret: secret
          title:
            _content: _content
          urls:
            url:
            - _content: _content
              type: type
            - _content: _content
              type: type
          editability:
            cancomment: true
            canaddmeta: true
          permissions:
            permaddmeta: permaddmeta
            permcomment: permcomment
          originalsecret: originalsecret
          farm: farm
          id: id
          views: views
          owner:
            iconfarm: iconfarm
            nsid: nsid
            path_alias: path_alias
            iconserver: iconserver
            noindexfollow: true
            location: location
            is_ad_free: true
            ispro: true
            realname: realname
            username: username
          comments:
            _content: _content
          visibility:
            isfriend: true
            ispublic: true
            isfamily: true
          publiceditability:
            cancomment: true
            canaddmeta: true
          rotation: rotation
          dates:
            taken: taken
            takengranularity: takengranularity
            lastupdate: lastupdate
            takenunknown: true
            posted: posted
          people:
            haspeople: true
          tags:
            tag:
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
          license: license
          safe: true
          isfavorite: true
        - server: server
          dateuploaded: dateuploaded
          notes:
            note:
            - description: description
            - description: description
          safety_level: safety_level
          usage:
            canshare: true
            canprint: true
            canblog: true
            candownload: true
          description:
            _content: _content
          media: media
          secret: secret
          title:
            _content: _content
          urls:
            url:
            - _content: _content
              type: type
            - _content: _content
              type: type
          editability:
            cancomment: true
            canaddmeta: true
          permissions:
            permaddmeta: permaddmeta
            permcomment: permcomment
          originalsecret: originalsecret
          farm: farm
          id: id
          views: views
          owner:
            iconfarm: iconfarm
            nsid: nsid
            path_alias: path_alias
            iconserver: iconserver
            noindexfollow: true
            location: location
            is_ad_free: true
            ispro: true
            realname: realname
            username: username
          comments:
            _content: _content
          visibility:
            isfriend: true
            ispublic: true
            isfamily: true
          publiceditability:
            cancomment: true
            canaddmeta: true
          rotation: rotation
          dates:
            taken: taken
            takengranularity: takengranularity
            lastupdate: lastupdate
            takenunknown: true
            posted: posted
          people:
            haspeople: true
          tags:
            tag:
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
          license: license
          safe: true
          isfavorite: true
      properties:
        photos:
          items:
            $ref: '#/components/schemas/Photo'
          type: array
      type: object
      x-konfig-is-used-in-successful-response: true
    PublicGetPersonInformationResponse:
      example:
        stat: stat
        person:
          timezone:
            offset: offset
            timezone_id: timezone_id
            label: label
          has_stats: true
          description:
            _content: _content
          is_ad_free: true
          photosurl:
            _content: _content
          yintl: yintl
          coverphoto:
            s: s
            t: t
            h: h
            l: l
          photos:
            count:
              _content: _content
            firstdate:
              _content: _content
            firstdatetaken:
              _content: _content
            views:
              _content: _content
          cover:
            owner: owner
            server: server
            isfriend: true
            ispublic: true
            farm: farm
            "y": "y"
            id: id
            secret: secret
            title: title
            isfamily: true
          user_secret: user_secret
          nsid: nsid
          iconserver: iconserver
          coverphoto_farm: coverphoto_farm
          can_buy_pro: true
          disable_keyboard_shortcuts:
            _content: _content
          mbox_sha1sum:
            _content: _content
          coverphoto_server: coverphoto_server
          id: id
          profileurl:
            _content: _content
          iconfarm: iconfarm
          unread_messages:
            _content: _content
          realname:
            _content: _content
          path_alias: path_alias
          expire: true
          location:
            _content: _content
          mobileurl:
            _content: _content
          ispro: true
          username:
            _content: _content
      properties:
        person:
          $ref: '#/components/schemas/Person'
        stat:
          type: string
      type: object
      x-konfig-is-used-in-successful-response: true
    PublicGetUserPhotosResponse:
      example:
        perpage: 1.4658129805029452
        total: 5.962133916683182
        pages: 6.027456183070403
        page: 0.8008281904610115
        photos:
        - server: server
          dateuploaded: dateuploaded
          notes:
            note:
            - description: description
            - description: description
          safety_level: safety_level
          usage:
            canshare: true
            canprint: true
            canblog: true
            candownload: true
          description:
            _content: _content
          media: media
          secret: secret
          title:
            _content: _content
          urls:
            url:
            - _content: _content
              type: type
            - _content: _content
              type: type
          editability:
            cancomment: true
            canaddmeta: true
          permissions:
            permaddmeta: permaddmeta
            permcomment: permcomment
          originalsecret: originalsecret
          farm: farm
          id: id
          views: views
          owner:
            iconfarm: iconfarm
            nsid: nsid
            path_alias: path_alias
            iconserver: iconserver
            noindexfollow: true
            location: location
            is_ad_free: true
            ispro: true
            realname: realname
            username: username
          comments:
            _content: _content
          visibility:
            isfriend: true
            ispublic: true
            isfamily: true
          publiceditability:
            cancomment: true
            canaddmeta: true
          rotation: rotation
          dates:
            taken: taken
            takengranularity: takengranularity
            lastupdate: lastupdate
            takenunknown: true
            posted: posted
          people:
            haspeople: true
          tags:
            tag:
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
          license: license
          safe: true
          isfavorite: true
        - server: server
          dateuploaded: dateuploaded
          notes:
            note:
            - description: description
            - description: description
          safety_level: safety_level
          usage:
            canshare: true
            canprint: true
            canblog: true
            candownload: true
          description:
            _content: _content
          media: media
          secret: secret
          title:
            _content: _content
          urls:
            url:
            - _content: _content
              type: type
            - _content: _content
              type: type
          editability:
            cancomment: true
            canaddmeta: true
          permissions:
            permaddmeta: permaddmeta
            permcomment: permcomment
          originalsecret: originalsecret
          farm: farm
          id: id
          views: views
          owner:
            iconfarm: iconfarm
            nsid: nsid
            path_alias: path_alias
            iconserver: iconserver
            noindexfollow: true
            location: location
            is_ad_free: true
            ispro: true
            realname: realname
            username: username
          comments:
            _content: _content
          visibility:
            isfriend: true
            ispublic: true
            isfamily: true
          publiceditability:
            cancomment: true
            canaddmeta: true
          rotation: rotation
          dates:
            taken: taken
            takengranularity: takengranularity
            lastupdate: lastupdate
            takenunknown: true
            posted: posted
          people:
            haspeople: true
          tags:
            tag:
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
          license: license
          safe: true
          isfavorite: true
      properties:
        page:
          type: number
        pages:
          type: number
        perpage:
          type: number
        photos:
          items:
            $ref: '#/components/schemas/Photo'
          type: array
        total:
          type: number
      type: object
      x-konfig-is-used-in-successful-response: true
    PublicGetPhotoListContextResponse:
      example:
        stat: stat
        count:
          _content: _content
        nextphoto:
          owner: owner
          license: 0
          server: server
          thumb: thumb
          safe: true
          farm: farm
          is_faved: true
          id: id
          media: media
          secret: secret
          title: title
          url: url
        prevphoto:
          owner: owner
          license: 0
          server: server
          thumb: thumb
          safe: true
          farm: farm
          is_faved: true
          id: id
          media: media
          secret: secret
          title: title
          url: url
      properties:
        count:
          $ref: '#/components/schemas/Group_description'
        nextphoto:
          $ref: '#/components/schemas/ContextPhoto'
        prevphoto:
          $ref: '#/components/schemas/ContextPhoto'
        stat:
          type: string
      type: object
      x-konfig-is-used-in-successful-response: true
    PublicGetPhotostreamContextResponse:
      example:
        stat: stat
        count:
          _content: _content
        nextphoto:
          owner: owner
          license: 0
          server: server
          thumb: thumb
          safe: true
          farm: farm
          is_faved: true
          id: id
          media: media
          secret: secret
          title: title
          url: url
        prevphoto:
          owner: owner
          license: 0
          server: server
          thumb: thumb
          safe: true
          farm: farm
          is_faved: true
          id: id
          media: media
          secret: secret
          title: title
          url: url
      properties:
        count:
          $ref: '#/components/schemas/Group_description'
        nextphoto:
          $ref: '#/components/schemas/ContextPhoto'
        prevphoto:
          $ref: '#/components/schemas/ContextPhoto'
        stat:
          type: string
      type: object
      x-konfig-is-used-in-successful-response: true
    PublicGetPhotoExifResponse:
      example:
        stat: stat
        photo:
          server: server
          farm: farm
          id: id
          secret: secret
          camera: camera
          exif:
          - tagspaceid: tagspaceid
            raw:
              _content: _content
            label: label
            tag: tag
            tagspace: tagspace
          - tagspaceid: tagspaceid
            raw:
              _content: _content
            label: label
            tag: tag
            tagspace: tagspace
      properties:
        photo:
          $ref: '#/components/schemas/PublicGetPhotoExifResponse_photo'
        stat:
          type: string
      type: object
      x-konfig-is-used-in-successful-response: true
    PublicGetPhotoInfoResponse:
      example:
        stat: stat
        photo:
          server: server
          dateuploaded: dateuploaded
          notes:
            note:
            - description: description
            - description: description
          safety_level: safety_level
          usage:
            canshare: true
            canprint: true
            canblog: true
            candownload: true
          description:
            _content: _content
          media: media
          secret: secret
          title:
            _content: _content
          urls:
            url:
            - _content: _content
              type: type
            - _content: _content
              type: type
          editability:
            cancomment: true
            canaddmeta: true
          permissions:
            permaddmeta: permaddmeta
            permcomment: permcomment
          originalsecret: originalsecret
          farm: farm
          id: id
          views: views
          owner:
            iconfarm: iconfarm
            nsid: nsid
            path_alias: path_alias
            iconserver: iconserver
            noindexfollow: true
            location: location
            is_ad_free: true
            ispro: true
            realname: realname
            username: username
          comments:
            _content: _content
          visibility:
            isfriend: true
            ispublic: true
            isfamily: true
          publiceditability:
            cancomment: true
            canaddmeta: true
          rotation: rotation
          dates:
            taken: taken
            takengranularity: takengranularity
            lastupdate: lastupdate
            takenunknown: true
            posted: posted
          people:
            haspeople: true
          tags:
            tag:
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
          license: license
          safe: true
          isfavorite: true
      properties:
        photo:
          $ref: '#/components/schemas/Photo'
        stat:
          type: string
      type: object
      x-konfig-is-used-in-successful-response: true
    PublicGetPhotoSizesResponse:
      example:
        stat: stat
        sizes:
          sizes:
          - width: 5.637376656633329
            label: label
            media: media
            source: source
            url: url
            height: 5.962133916683182
          - width: 5.637376656633329
            label: label
            media: media
            source: source
            url: url
            height: 5.962133916683182
          canprint: 1.4658129805029452
          canblog: 0.8008281904610115
          candownload: 6.027456183070403
      properties:
        sizes:
          $ref: '#/components/schemas/PublicGetPhotoSizesResponse_sizes'
        stat:
          type: string
      type: object
      x-konfig-is-used-in-successful-response: true
    PublicGetPhotoLicensesResponse:
      example:
        licenses:
          license:
          - name: name
            id: 0
            url: url
          - name: name
            id: 0
            url: url
        stat: stat
      properties:
        licenses:
          $ref: '#/components/schemas/PublicGetPhotoLicensesResponse_licenses'
        stat:
          type: string
      type: object
      x-konfig-is-used-in-successful-response: true
    PublicSearchPhotosResponse:
      example:
        perpage: 1.4658129805029452
        total: 5.962133916683182
        pages: 6.027456183070403
        page: 0.8008281904610115
        photos:
        - server: server
          dateuploaded: dateuploaded
          notes:
            note:
            - description: description
            - description: description
          safety_level: safety_level
          usage:
            canshare: true
            canprint: true
            canblog: true
            candownload: true
          description:
            _content: _content
          media: media
          secret: secret
          title:
            _content: _content
          urls:
            url:
            - _content: _content
              type: type
            - _content: _content
              type: type
          editability:
            cancomment: true
            canaddmeta: true
          permissions:
            permaddmeta: permaddmeta
            permcomment: permcomment
          originalsecret: originalsecret
          farm: farm
          id: id
          views: views
          owner:
            iconfarm: iconfarm
            nsid: nsid
            path_alias: path_alias
            iconserver: iconserver
            noindexfollow: true
            location: location
            is_ad_free: true
            ispro: true
            realname: realname
            username: username
          comments:
            _content: _content
          visibility:
            isfriend: true
            ispublic: true
            isfamily: true
          publiceditability:
            cancomment: true
            canaddmeta: true
          rotation: rotation
          dates:
            taken: taken
            takengranularity: takengranularity
            lastupdate: lastupdate
            takenunknown: true
            posted: posted
          people:
            haspeople: true
          tags:
            tag:
            - author: author
              machine_tag: true
              authorname: authorname
              raw: raw
              id: id
              _content: _content
            - author: author
              machine_tag: true
[...]
